body { font: 100% "Verdana, Helvetica", sans-serif }

.ui-selecting { background: #FECA40; }
.ui-selected { background: #F39814; color: white; }

.sig-header { font-size: 20px; padding-bottom: 10px; font-style: bold; }
.sig-info { font-size: 100%; padding-bottom: 10px; }
.sig-value { font-family: monospace; padding: 2px; background: #f0f0ff; }
.sig-exception { font-family: monospace; padding: 2px; background: #ffe0e0; }
.sig-comment { padding: 2px; background: #ffffe0; }
.sig-type { font-family: monospace; padding: 2px; background: #e0ffe0; }
.sig-description { font-style: italic; font-size: 90%; padding-left: 10px; }

body {
  min-width: 550px;      /* 2x LC width + RC width */
}

#container {
  width: 100%;
}

#left {
  float: left;
  width: 25%;
  overflow: auto;
}

#center {
  float: right;
  width: 75%;
  display: block;
}

pre {
  border: 1px dotted red;
  background: #fbf0f0;
  white-space: pre-wrap;
  font-size: 80%; 
}
