body { font: 100% "Verdana, Helvetica", sans-serif }

.ui-selecting { background: #FECA40; }
.ui-selected { background: #F39814; color: white; }
.sig-header { font-size: 20px; }
.sig-fun { padding: 5px; }
.sig-fun-name { background: #EEFFEE; }
.sig-fun-descr { background: #FFFFEE; }
.sig-fun-type { background: #FFFFEE; }


body {
  min-width: 750px;      /* 2x LC width + RC width */
}

#container {
  width: 100%;
}

#left {
  float: left;
  width: 25%;
  overflow: auto;
}

#center {
  float: right;
  width: 75%;
  display: block;
}
